body > div {
  height: 100px;
  margin: 5px;
  border: 2px dotted;
  display: flex;
  justify-content: space-between;
}

body > div > div:first-child {
  width: 33%;
  height: 100px;
  background: black;
  float: left;
}

body > div > div {
  width: 33%;
  height: 100px;
  background: yellow;
  float: left;
}

body > div > div:last-child {
  width: 33%;
  height: 100px;
  background: rgb(255, 30, 0);
  float: left;
}
